queries name="package" {
  input {
    package {
      name "foo"
      version "1.0.0"
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
      dependencies {
        miette "2.0.0" dev=true
      }
      "lastBuiltAt" 12345
    }
  }
  query "top() > package dependencies[prop(platform) = \"windows\"]" index=0 {
    output {
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "top() > package dependencies[prop(platform) != \"windows\"]" index=1 {
    output {
      dependencies {
        miette "2.0.0" dev=true
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "top() > package dependencies[prop(platform) != r#\"windows\"#] || top() > package dependencies[prop(platform) = \"windows\"]" index=2 {
    output {
      dependencies {
        miette "2.0.0" dev=true
      }
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "dependencies" index=3 {
    output {
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
      dependencies {
        miette "2.0.0" dev=true
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "dependencies[prop(platform) ^= \"win\"]" index=4 {
    output {
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "dependencies[prop(platform) $= \"s\"]" index=5 {
    output {
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "dependencies[prop(platform) *= \"in\"]" index=6 {
    output {
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "dependencies[prop(platform)]" index=7 {
    output {
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "dependencies[platform]" index=8 {
    output {
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "dependencies[platform = \"windows\"]" index=9 {
    output {
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "lastBuiltAt[val() > 0]" index=10 {
    output {
      "lastBuiltAt" 12345
    }
    "@virtualstate/kdl/output/match" true
  }
  query "lastBuiltAt[val() >= 0]" index=11 {
    output {
      "lastBuiltAt" 12345
    }
    "@virtualstate/kdl/output/match" true
  }
  query "lastBuiltAt[val() < 9999999]" index=12 {
    output {
      "lastBuiltAt" 12345
    }
    "@virtualstate/kdl/output/match" true
  }
  query "lastBuiltAt[val() <= 9999999]" index=13 {
    output {
      "lastBuiltAt" 12345
    }
    "@virtualstate/kdl/output/match" true
  }
  query "dependencies + dependencies" index=14 {
    output {
      dependencies {
        miette "2.0.0" dev=true
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "version ~ dependencies" index=15 {
    output {
      dependencies platform="windows" {
        winapi "1.0.0" path="./crates/my-winapi-fork"
      }
      dependencies {
        miette "2.0.0" dev=true
      }
    }
    "@virtualstate/kdl/output/match" true
  }
  query "dependencies[prop(platform) ^= \"win\"] top() package > version" index=16 {
    output {
      version "1.0.0"
    }
    "@virtualstate/kdl/output/match" true
  }
}